/* Functions / Mixins */
@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
  @return $x1;
}
@function pow($number, $exponent) {
  $value: 1;
  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }
  @return $value;
}
@mixin goldenify($scale) {
  margin-top: 0rem;
  font-size: $base-font-size * pow($phi, $scale);
}
/* Globals */
$phi: (1 + sqrt(5)) / 2; // The Golden Ratio
$base-font-size: 1rem; // Base font size
/* Styles */
body,
html {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  font-family: monospace;
  font-family: 'Anonymous Pro', monospace !important;
}

h1 {
  font-family: 'Google Sans', sans-serif !important;
  @include goldenify(3);
}

h2 {
  @include goldenify(1);
}

h3 {
  font-size: $base-font-size;
}

h3:last-child {
  display: flex;
  justify-content: space-between;
}