html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-family: 'Anonymous Pro', monospace !important;
}

h1 {
    font-family: 'Google Sans', sans-serif !important;
    font-size: 5rem;
    margin-top: 0em;
    margin-bottom: 0.6em;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

h3:last-child {
    display: flex;
    justify-content: space-between;
}