{% if page.title == "Home" %}{% assign x = true %}{% endif %}

{% if x == true %}
    <header class="home__header">
        <img alt="{{ site.name }}" src="{{ site.url }}/{{ site.picture }}" />

        <h1>{{ site.name }}</h1>
        <h2>{{ site.bio }}</h2>
        <div class="home__header-social">
            <a href="http://dribbble.com/{{ site.dribbble }}" target="_blank"><svg class="icon icon-dribbble"><use xlink:href="#icon-dribbble"></use></svg></a>
            <a href="https://github.com/{{ site.github }}" target="_blank"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
            <a href="mailto:{{ site.email }}" target="_blank"><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg></a>
        </div>
    </header>
{% endif %}

{% include nav.html %}
